<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name = "UCSC Test Automation Demo">


<listeners>
		<listener class-name="com.actitime.qa.extentreportlistener.ExtentReporterNG" />
	</listeners>

   <test name = "UCSC Test Automation Demo Testcases">
      <classes>
         <class name = "POMActtiimeTest.qa.TestCases.HomePageTest" />
         <class name = "POMActtiimeTest.qa.TestCases.LoginJava" />
      </classes>
   </test>


</suite>